.red {
    height: 70px;
    width: 70px;
    background-color: red;
    margin-top: 5px;
}

.button {
    height: 70px;
    width: 70px;
    background-color: red;
    margin-top: 5px;
}
.box {
    height: 70px;
    width: 70px;
    background-color: red;
    margin-top: 5px;
}


.blue {
    height: 70px;
    width: 70px;
    background-color: blue;
    margin-top: 5px;
}

